<h2>Companies</h2>
<p>
  <a [routerLink]="['/company/new']" class="btn btn-primary">New Company</a>
</p>
<div class="well">
  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" class="form-control" [(ngModel)]="query.name" #nameFilter="ngModel" required />
  </div>
  <div class="form-group">
    <label for="foundationStart">From Foundation</label>
    <input  type="date" id="foundationStart" class="form-control" [(ngModel)]="query.foundationStart" #foundationStart="ngModel" required />
  </div>
  <div class="form-group">
    <label for="toFoundation">To Foundation</label>
    <input type="date" id="toFoundation" class="form-control" [(ngModel)]="query.foundationEnd" #foundationEnd="ngModel" required />
  </div>
  <button class="btn btn-default" (click)="resetFilter()" [disabled]="!nameFilter.valid && !foundationStart.valid && !foundationEnd.valid">Reset</button>
  <button class="btn btn-primary" (click)="filter()" [disabled]="!nameFilter.valid && !foundationStart.valid && !foundationEnd.valid">Apply Filter</button>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th *ngFor="let c of columns">
        <div *ngIf="c.isSortable" (click)="sortBy(c.key)">
          {{ c.title }}
          <i *ngIf="query.sortBy === c.key" class="fa" [class.fa-sort-asc]="query.isSortAscending" [class.fa-sort-desc]="!query.isSortAscending"></i>
        </div>
        <div *ngIf="!c.isSortable">
          {{ c.title }}
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let v of queryResult.items">
      <td>{{ v.id }}</td>
      <td>{{ v.name }}</td>
      <td>{{ v.foundation | date:'mediumDate' }}</td>
      <td>
        <a [routerLink]="['/company/details', v.id]">View</a>
        | <a [routerLink]="['/company', v.id, 'providedServices']">Provided Services</a>
      </td>
    </tr>
  </tbody>
</table>
<pagination [total-items]="queryResult.totalItems" [page-size]="query.pageSize" (page-changed)="onPageChange($event)"></pagination>